:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  /*
  background-color: #e0e3ec;
  */
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle,rgb(107, 168, 200),rgb(55, 94, 155),rgb(52, 53, 127));

}


body {
  width: 100%;

  
}

